* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    font-family: 'Nunito', sans-serif;
}

li, a {
    text-decoration: none;
    color: #000000;
    list-style: none;
}

.container {
    max-width: 980px;
    margin: 0 auto;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
    box-shadow: 0px 3px 4px #efeeee;
    align-items: center;
}

.menu ul {
    display: flex;
}

.menu li {
    margin-left: 40px;
}

.menu li a:hover {
    color: #733612;
}

.border {
    box-shadow: 10px 5px 5px #efeeee;
}

/* SECTION */

.wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.informations, .coffee {
    margin-top: 100px;
}

.informations button {
    font-weight: bold;
    padding: 12px 60px;
    margin-top: 50px;
    background-color: #FCA60F;
    color: #ffffff;
    border-radius: 5px;
}

.informations button:hover {
    background-color: #733612;   
}

.redes-sociais img {
    margin: 20px 7px 0px 0px;
}

.scroll-down {
    text-align: center;
    margin-top: 80px;
}

/* MEDIAS QUERIES */

@media (max-width: 663px) {
    .header {
        flex-direction: column;
        justify-content: center;
    }

    .coffee, .scroll-down {
       display: none;      
    }

    .wrapper {
        text-align: center;
    }

    .menu li {
        margin-left: 20px;
    }

    .redes-sociais {
        margin-top: 20vh;
    }

    
}